.iq-maintenance {
    width: 100%;
    img {
        max-height: 350px;
    }
    .maintenance-bottom {
        width: 100%;
        text-align: center;
        padding: 3.125rem 0;

        .search-input {
            input {
                &.form-control {
                    background: transparent;
                    border-radius: .5rem !important;
                }
            }
        }
    }
}